@media (max-width: 350px) {
  /* Header */
.locationInput {
  font-size: .8rem;
}

.searchIcon {
  font-size: 1.3rem;
}
}

@media  (max-width: 730px) {
  /* Header */
.header {
display: flex;
background-image: url("../images/Reservia.svg");
background-repeat: no-repeat;
background-position: 25px 25px;
}

.navbar {
display: flex;
}

.menu1 {
display: flex;
order: 2;
justify-content: space-between;
margin: 0px;
padding: 0px;
width: 100%;
border-bottom: 1px solid white;
}

.menu2 {
order: 1;
width: 100%;
padding: 0px;
}

.navbar {
flex-direction: column;
justify-content: flex-end;
align-items: end;
width: 100%
}

.navbar ul li {
display: flex;
justify-content: space-between;
border-bottom: 2px solid lightgrey;
width: 50%;
}

.navbar .menu2 li {
border-bottom: 2px solid white;
width: 100%;
padding-right: 10px;
justify-content: flex-end;
}

li a {
text-align: center;
}

.signup {
color:#0065fc;
padding-top: 23px;
}

.accommodation {
width: 100%;
}

.activities {
width: 100%;
}

.menu1 li:hover {
border-color: #0065fc;
}

.menu1 li:hover a {
color: #0065fc;
}
}

@media  (min-width: 470px) and (max-width: 730px) {
  /* Content2 */
.introCatch {
text-align: center;
}

  /* Lodging */
.lodging1,
.lodging2 {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 2em;
flex-wrap: wrap;
}

.lodge1,
.lodge2,
.lodge3 {
object-position: bottom;
}

.lodge4,
.lodge6 {
object-position: center;
}

  /* Footer */
.content6 {
  padding-inline: 6em;
}

footer ul {
  padding-inline-start: 2em;
}
}

@media (min-width: 730px) and (max-width: 900px) {
  /* Footer */
footer {
flex-direction: column;
justify-content: space-between;
text-align: center;
}
}

@media (max-width: 600px) {
  /* Recreations */
  .activities1 {
    object-position: center;
    }

    .activities5 {
    object-position: top;
    }

    .activities6 {
    object-position: center;
    }
}

@media  (min-width: 601px) and (max-width: 800px) {
  /* Lodging */
.lodging {
  display: flex;
  gap: 1em;
}

.lodgecard1,
.lodgecard2,
.lodgecard3,
.lodgecard4,
.lodgecard5,
.lodgecard6 {
  min-width: 250px;
}

 /* Recreations */
.recreations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

.activitycard2,
.activitycard3,
.activitycard5,
.activitycard6 {
  min-width: 250px;
}

.activitycard1,
.activitycard4 {
  width: 300px;
}


.activitycard1,
.activitycard4,
.twocards {
  margin-right: auto;
  margin-left: auto;
}

.twocards {
  display: flex;
  gap: 4em;
}
}

@media (min-width: 625px) and (max-width: 838px) {
  /* Filters */
.economic:hover,
.family:hover,
.romantic:hover,
.pets:hover {
color: rgb(90, 18, 48);
background: rgb(9, 143, 9);
opacity: .6;
cursor: pointer;
}

.economic:focus,
.family:focus,
.romantic:focus,
.pets:focus {
color: darkgreen;
background: rgb(163, 115, 135);
}
}

@media  (min-width: 600px) and (max-width: 1250px) {
  /* Lodging */
main {
flex-direction: column;
}

main > *:nth-child(1) {
  order: 1;
  }

  main > *:nth-child(2) {
  order: 2;
  }

.mostpop {
justify-content: center;
gap: 1em;
}

.lodgecard7,
.lodgecard9 {
width: 300px;
height: 200px;
}

.lodgecard8 {
width: 350px;
height: 200px;
}

.lodgecard7 {
align-self: flex-start;
}

.lodgecard9 {
align-self: flex-end;
}

.lodgecard7 img,
.lodgecard8 img,
.lodgecard9 img {
  height: 192px;
}

.starpop {
  margin-top: 2em;
}
}

@media  (min-width: 730px) {
  /* Background */
.content3,
.content4 {
border-radius: 2rem;
}

  /* Header */
.header {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 5px;
}

.header {
background-image: url("../images/Reservia.svg");
background-repeat: no-repeat;
background-position: 25px 25px;
}

.navbar {
display: flex;
width: 100%;
justify-content: flex-end;
}

.navbar ul {
display: flex;
margin: 0px;
}

.navbar ul li {
border-top: 2px solid white;
padding-left: 10px;
padding-right: 10px;
padding-top: 35px;
}

.menu1 li:hover {
border-color: var(--primary-color);
}

.menu1 li:hover a {
color: var(--primary-color);
}

.signup {
color: var(--primary-color);
margin-left: -20px;
}

.accommodation {
padding-top: 30px;
}

.activities {
padding-top: 30px;
margin-right: 20px;
margin-left: 20px;
}

  /* Rechercher btn */
.submit {
background-color: var(--primary-color);
color: white;
font-weight: 600;
border: none;
border-radius: 0 1rem 1rem 0;
padding: 0 1.5em;
font-family: "Raleway", sans-serif;
font-size: 1rem;
cursor: pointer;
width: 10rem;
letter-spacing: .0625em;
}

.btnText {
display: block;
padding-top: 1.2em;
}

.searchIcon {
opacity: 0;
}

  /* Lodging */
main {
display: flex;
flex-wrap: wrap;
gap: 1.5em;
padding-inline: 1.5rem;
}

main > *:nth-child(1) {
order: 1;
}

main > *:nth-child(2) {
order: 2;
}

main > *:nth-child(1) {
flex: 1 1 65%;
min-width: 25ch;
}

main > *:nth-child(2) {
flex: 1 1 30%;
min-width: 183px;
}

.lodging1,
.lodging2 {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 1em;
}

.lodging1 > * {
flex: 1 1 30%;
}

.lodging2 > * {
flex: 1 1 30%;
}
}

@media (min-width: 801px) and (max-width: 1250px) {
  /* Recreations */
.recreations {
flex: 1;
flex-wrap: wrap;
gap: 2em;
}

.twocards {
display: flex;
flex: 1;
justify-content: space-between;
gap: 2em;
}

.activitycard1,
.activitycard2,
.activitycard3,
.activitycard4,
.activitycard5,
.activitycard6 {
width: 300px;
}

.activitycard1,
.activitycard4 {
margin-inline: auto;
}
}

@media (min-width: 838px) {
  /* Filters */
.economic:hover,
.family:hover,
.romantic:hover,
.pets:hover {
color: darkgreen;
background: lightgreen;
opacity: .6;
cursor: pointer;
}

.economic:focus,
.family:focus,
.romantic:focus,
.pets:focus {
color: darkgreen;
background: rgb(176, 207, 176);
}
}

@media (min-width: 900px) {
  /* Footer */
footer {
display: flex;
justify-content: space-between;
}
}

@media  (min-width: 900px) and (max-width: 1250px) {
  /* Les plus populaires */
.content4 {
  width: 100%;
}

.mostpop {
  margin: 0 auto;
}

.lodgecard7 {
  background-image: url(../images/lesoleil_dumatin.jpg);
}

.lodgecard8 {
background-image: url(../images/aucoeur_deleau.jpg);
background-position: bottom 1% left 60%;
}

.lodgecard9 {
background-image: url(../images/tout_bleu.jpg);
background-position: top 65% right 45%;
}

.lodgecard7 a,
.lodgecard8 a,
.lodgecard9 a {
  display: inline-flex;
  flex-direction: row;
  gap: 1em;
}

.lodgecard7 a,
.lodgecard9 a {
  padding-left: 9rem;
}

.lodgecard8 a {
  padding-left: 3rem;
}

.lodgecard7 img,
.lodgecard8 img,
.lodgecard9 img {
  display: none;
}

.lodgecard7,
.lodgecard8,
.lodgecard9 {
  background-repeat: no-repeat;
  padding: 15% 25%;
  background-size: cover;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.lodgecard8,
.lodgecard9 {
  margin-top: 10em;
}

.lodgecard9 {
margin-bottom: 8em;
}

.popinfo {
  width: 300px;
  margin-top: 8em;
  margin-left: -21em;
}

.popinfo h4,
.popinfo p {
  font-weight: 900;
  margin-top: 0;
}

.starpop {
  margin-top: 0;
  color: var(--primary-color);
}

.mostpop h4,
.mostpop p,
.mostpop .blue {
  text-shadow: 1px 1px 1px #dedaec;
}

.lodgecard7 h4,
.lodgecard7 p {
  width: 100%;
  min-width: 130px;
}

.lodgecard7 .blue {
  margin-bottom: .5em;
}

.lodgecard8 .popinfo {
margin-left: -15em;
}

.mostpop p {
  font-weight: 700;
}
}

@media (min-width: 1251px) {
  /* Les plus populaires */
.content4 {
width: 100%;
min-width: 183px;
}
}

@media (min-width: 1251px) {
  /* Lodging */
.content3 {
  background-color: var(--light-color);
  }
}

@media (min-width: 1251px) {
  /* Recreations */
.recreations {
display: flex;
gap: 1em;
}

.activitycard1,
.activitycard4 {
height: 490px;
}

.activitycard2 {
height: 53%;
}

.activitycard3 {
height: 40%;
}

.activitycard5 {
height: 45%;
}

.activitycard6 {
height: 49%;
}

.activitycard1,
.activitycard4 {
width: 25%;
}

.activitycard1 img,
.activitycard4 img {
width: 100%;
min-height: 430px;
}

.activitycard2,
.activitycard6 {
width: 100%;
}

.activitycard2 img {
width: 100%;
min-height: 200px;
}

.activitycard6 img {
width: 100%;
min-height: 180px;
}

.activitycard3 img {
width: 100%;
min-height: 136px;
}

.activitycard5 img {
width: 100%;
min-height: 160px;
}

.activitycard1,
.activitycard2,
.activitycard3,
.activitycard4,
.activitycard5,
.activitycard6 {
margin-bottom: 0;
}

.twocards {
width: 25%;
display: flex;
justify-content: space-between;
flex-direction: column;
}
}