@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');

        /* Intro: content2
        Location placeholder Marseille, France */
.introForm {
  display: inline-flex;
  max-width: 100%;
  height: 90px;
  overflow: auto;
  margin-bottom: 40px;
  padding-left: 0;
  /*! min-width: 200px; */
}

.locationIcon {
  background-color: var(--light-color);
  padding: 1em 1.25em;
  border-radius: 1rem 0 0 1rem;
}

.locationInput {
  border-right: none;
  border-left: none;
  border-top: var(--light-color) 1px solid;
  border-bottom: var(--light-color) 1px solid;
  padding: 0 1.5em;
  box-sizing: border-box;
  width: 14em;
  font-weight: 600;
  font-size: 1rem;
  min-width: 150px;
}

.locationInput::placeholder {
  color: black;
  font-weight: 600;
}

        /* Rechercher btn */
.submit {
  background-color: var(--primary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 1rem 1rem 1rem 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  width: 4rem;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.searchIcon {
  color: white;
  opacity: 1;
  font-size: 1.625rem;
  font-weight: 600;
  padding-right: .9em;
}

        /* Filters */
.wrapIcon {
  color: #0065fc;
  height: 50px;
  width: 50px;
  border: 12px solid #deebff;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  padding: 4px;
  margin-right: 14px;
  margin-top: -3px;
  background: #deebff;
}

.wrapIconInfo {
  color: #0065fc;
  background-color: white;
  height: 30px;
  width: 30px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
  margin-left: -5px;
  margin-top: -5px;
  text-align: center;
}

.filtersCategories {
  margin-right: 50px;
  margin-bottom: .625em;
}

.filtersTitle {
  margin-right: 70px;
}

.economic,
.romantic {
  width: 180px;
  height: 50px;
}

.family {
  width: 150px;
  height: 50px;
}

.economic,
.family,
.romantic,
.pets {
border-top: 2px solid lightgrey;
border-right: 2px solid lightgrey;
border-bottom: 2px solid lightgrey;
border-left: none;
border-radius: 2rem 2rem 2rem 2rem;
font-weight: 700;
font-family: inherit;
background: white;
font-size: 1rem;
transition-duration: 0.4s;
}

.pets {
width: 230px;
height: 50px;
}

.smallcard {
  margin-left: -30px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.informationText {
  display: flex;
  margin-top: 1.5em;
  margin-left: 1em;
  padding-left: .5em;
}

.economic:hover,
.family:hover,
.romantic:hover,
.pets:hover {
  color: green;
  background: rgb(167, 235, 10);
  opacity: .7;
  cursor: pointer;
}

.economic:focus,
.family:focus,
.romantic:focus,
.pets:focus {
  color: yellow;
  background: green;
}

        /* Lodging */
main {
  display: flex;
  flex-wrap: wrap;
}

main > *:nth-child(1) {
  order: 2;
}

.lodgecard1,
.lodgecard2,
.lodgecard3,
.lodgecard4,
.lodgecard5,
.lodgecard6,
.lodgecard7,
.lodgecard8,
.lodgecard9 {
  width: 100%;
  min-width: 175px;
  margin-bottom: 1em;
  background-color: white;
  box-shadow: 0 0 16px lightgrey;
  border-radius: 2rem;
  padding: 0.25em;
}

.lodgecard7,
.lodgecard8,
.lodgecard9 {
  width: 350px;
  height: 145px;
  padding-right: 1.8em;
}

.lodgecard1 img,
.lodgecard2 img,
.lodgecard3 img,
.lodgecard4 img,
.lodgecard5 img,
.lodgecard6 img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.lodgecard7 img,
.lodgecard8 img,
.lodgecard9 img {
  width: 125px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 135px;
}

.lodgecard9 img {
flex-shrink: 0;
}

.lodgeTitle,
.lodgeNight,
.lodgeStar,
.lodgecard8 h4,
.activitiesTitle {
  padding-left: 1em;
}

.lodgecard1 h4,
.lodgecard2 h4,
.lodgecard3 h4,
.lodgecard4 h4,
.lodgecard5 h4,
.lodgecard6 h4 {
margin-top: .5em;
}

.lodgecard1 .lodgeStar,
.lodgecard2 .lodgeStar,
.lodgecard3 .lodgeStar,
.lodgecard4 .lodgeStar,
.lodgecard5 .lodgeStar,
.lodgecard6 .lodgeStar {
  padding-bottom: .5em;
}

.lodging {
  padding-block-end: 1em;
}

.popinfo h4 {
  margin-top: .5em;
}

.popinfo .lodgeTitle-eau {
  margin-top: 0;
}

        /* Les plus populaires */
main > *:nth-child(2) {
  order: 1;
}

.mostpop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lodgecard7 a,
.lodgecard8 a,
.lodgecard9 a {
  display: flex;
}

.popIcon {
  display: flex;
  justify-content: space-between;
}

.starpop {
  margin-top: 1.3em;
}

.starpop .eau {
  margin-top: 1.5em;
}

        /* Recreations */
.activitycard1,
.activitycard2,
.activitycard3,
.activitycard4,
.activitycard5,
.activitycard6 {
  width: 100%;
  height: 180px;
  margin-bottom: 1em;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.15);
}

.activitycard1 img,
.activitycard2 img,
.activitycard3 img,
.activitycard4 img,
.activitycard5 img,
.activitycard6 img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.recreations h4 {
  padding-top: 1em;
}

.activitiesTitle {
  padding-left: 2em;
}

.activities5 {
  object-position: top;
}

        /* Footer */
.content6 {
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

footer ul {
  padding-inline-start: 0;
}