@media  (min-width: 675px) {

  /* Background */
.content3 {
  background-color: var(--light-color);
}

.content3,
.content4 {
  border-radius: 2rem;
}

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .header {
    background-image: url("images/Reservia.svg");
    background-repeat: no-repeat;
    background-position: 25px 25px;
  }

  .logo {
    padding-top: 35px;
  }
  .navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    margin: 0px;
  }

  .navbar ul li {
    border-top: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
  }

  .menu1 li:hover {
    border-color: #0065fc;
  }

  .menu1 li:hover a {
    color: #0065fc;
  }

  .signup {
    color:#0065fc;
  }

  .accommodation {
    padding-top: 30px;
  }

  .activities {
    padding-top: 30px;
  }
  /* ./Header */

  /* Rechercher btn */
.submit {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
}

.btnText {
  display: block;
  padding-top: 1.5em;
}

.searchIcon {
  opacity: 0;
  }

  /* Lodging */
.lodging {
  display: flex;
}

/* Les plus populaires */
.mostpop {
  display: flex;
}

  /* Recreations */
.recreations {
  display: flex;
}

  /* Footer */
footer {
  display: flex;
  justify-content: space-between;
}

}

@media  (max-width: 675px) {
  /* Header */

  .header {
    display: flex;
    background-image: url("images/Reservia.svg");
    background-repeat: no-repeat;
    background-position: 25px 25px;
  }

  .navbar {
    display: flex;
  }

  .menu1 {
    display: flex;
    order: 2;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }

  .menu2 {
    order: 1;
    padding: 0px;
  }

  .navbar {
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    width: 100%
  }

  .navbar ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    width: 50%;
  }

  li a {
    text-align: center;
  }

  .signup {
    color:#0065fc;
    padding-top: 23px;
  }

  .accommodation {
    width: 100%;
  }

  .activities {
    width: 100%;
  }

  .menu1 li:hover {
    border-color: #0065fc;
  }

  .menu1 li:hover a {
    color: #0065fc;
  }
}