@media  (max-width: 730px) {
  /* Header */

  .header {
    display: flex;
    background-image: url("images/Reservia.svg");
    background-repeat: no-repeat;
    background-position: 25px 25px;
  }

  .navbar {
    display: flex;
  }

  .menu1 {
    display: flex;
    order: 2;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid white;
  }

  .menu2 {
    order: 1;
    padding: 0px;
  }

  .navbar {
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    width: 100%
  }

  .navbar ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    width: 50%;
  }

  .navbar .menu2 li {
    border-bottom: 2px solid white;
    padding-right: 10px;
  }

  li a {
    text-align: center;
  }

  .signup {
    color:#0065fc;
    padding-top: 23px;
  }

  .accommodation {
    width: 100%;
  }

  .activities {
    width: 100%;
  }

  .menu1 li:hover {
    border-color: #0065fc;
  }

  .menu1 li:hover a {
    color: #0065fc;
  }
}

@media  (min-width: 470px) and (max-width: 730px) {

  /* Lodging */
.lodging1,
.lodging2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
  }

  /* Footer */
footer {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
}

@media  (min-width: 620px) and (max-width: 1350px) {
main {
  flex-direction: column;
}

  .mostpop {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
}

@media  (min-width: 730px) {

  /* Background */
.content3 {
  background-color: var(--light-color);
}

.content3,
.content4 {
  border-radius: 2rem;
}

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .header {
    background-image: url("images/Reservia.svg");
    background-repeat: no-repeat;
    background-position: 25px 25px;
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    margin: 0px;
  }

  .navbar ul li {
    border-top: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
  }

  .menu1 li:hover {
    border-color: #0065fc;
  }

  .menu1 li:hover a {
    color: #0065fc;
  }

  .signup {
    color:#0065fc;
  }

  .accommodation {
    padding-top: 30px;
  }

  .activities {
    padding-top: 30px;
  }

  /* Rechercher btn */
.submit {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5em;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  letter-spacing: .0625em;
}

.btnText {
  display: block;
  padding-top: 1.2em;
}

.searchIcon {
  opacity: 0;
  }

  /* Lodging */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding-inline: 1.5rem;
}

main > *:nth-child(1) {
  order: 1;
}

main > *:nth-child(2) {
  order: 2;
}

main > *:nth-child(1) {
  flex: 1 1 70%;
  min-width: 25ch;
}

main > *:nth-child(2) {
  flex: 1 1 25%;
  min-width: 183px;
}

.lodging1,
.lodging2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.lodging1 > * {
  flex: 1 1 30%;
}

.lodging2 > * {
  flex: 1 1 30%;
}

  /* Recreations */
.recreations {
  display: flex;
  gap: 1em;
}

.activitycard1,
.activitycard4 {
  height: 100%;
}

.activitycard2 {
  height: 53%;
}

.activitycard3 {
  height: 40%;
}

.activitycard5 {
  height: 45%;
}

.activitycard6 {
  height: 49%;
}

.activitycard1,
.activitycard4 {
  width: 25%;
}

.activitycard1 img,
.activitycard4 img {
  width: 100%;
  min-height: 430px;
}

.activitycard2,
.activitycard6 {
width: 100%;
}

.activitycard2 img {
  width: 100%;
  min-height: 210px;
}

.activitycard6 img {
width: 100%;
min-height: 194px;
}

.activitycard3 img {
  width: 100%;
  min-height: 152px;
}

.activitycard5 img {
  width: 100%;
  min-height: 176px;
}

.activitycard1,
.activitycard2,
.activitycard3,
.activitycard4,
.activitycard5,
.activitycard6 {
  margin-bottom: 0;
}

.twocards {
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

  /* Footer */
footer {
  display: flex;
  justify-content: space-between;
}
}

@media (min-width: 1350px) {
  /* Les plus populaires */

  .content4 {
    width: 100%;
    min-width: 183px;
  }

  .lodgecard8 img {
    width: 43%;
  }
}
