@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');

 /* Header */

/* Intro: content2 */
/* Location placeholder Marseille, France */
.introForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 40px;
  padding-left: 0;
}

.locationIcon {
  background-color: var(--light-color);
  padding: 1em 1.25em;
  border-radius: 1rem 0 0 1rem;
}

.locationInput {
  border-right: none;
  border-left: none;
  border-top: var(--light-color) 1px solid;
  border-bottom: var(--light-color) 1px solid;
  padding: 0 1.5em;
  box-sizing: border-box;
  width: 14em;
  font-weight: 600;
  font-size: 1rem;
}

.locationInput::placeholder {
  color: black;
  font-weight: 600;
}

  /* Rechercher btn */
  .submit {
    background-color: var(--primary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    width: 4rem;
    overflow: hidden;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    cursor: pointer;
  }

  .searchIcon {
    color: white;
    opacity: 1;
    font-size: 1.625rem;
    font-weight: 600;
    padding-right: .9em;
  }

/* Filters */
.wrapIcon {
  color: #0065fc;
  height: 50px;
  width: 50px;
  border: 1px solid #deebff;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  padding: 15px 15px;
  margin-right: 10px;
  margin-top: -2px;
  background: #deebff;
}

.wrapIconInfo {
  color: #0065fc;
  height: 50px;
  width: 50px;
  border: 1px solid #deebff;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin: 10px;
  padding: 15px 20px;
}

.filtersCategories {
  font-weight: 700;
  margin-right: 50px;
  margin-bottom: .625em;
}

.filtersTitle {
  margin-right: 70px;
}

.economic,
.romantic {
  width: 180px;
  height: 50px;
}

.family {
  width: 150px;
  height: 50px;
}

.economic,
.family,
.romantic,
.pets {
border-top: 2px solid lightgrey;
border-right: 2px solid lightgrey;
border-bottom: 2px solid lightgrey;
border-left: none;
border-radius: 2rem 2rem 2rem 2rem;
padding-left: 20px;
}

.pets {
width: 230px;
height: 50px;
}

.smallcard {
  margin-left: -20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

 /* Lodging */
.lodgecard1,
.lodgecard2,
.lodgecard3,
.lodgecard4,
.lodgecard5,
.lodgecard6,
.lodgecard7,
.lodgecard8,
.lodgecard9 {
  width: 100%;
  margin-bottom: 1em;
  background-color: white;
  box-shadow: 0 0 16px lightgrey;
  border-radius: 2rem;
  padding: 0.25em;
}

.lodgecard7,
.lodgecard8,
.lodgecard9 {
  height: 150px;
}

.lodgecard1 img,
.lodgecard2 img,
.lodgecard3 img,
.lodgecard4 img,
.lodgecard5 img,
.lodgecard6 img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.lodgecard7 img,
.lodgecard8 img,
.lodgecard9 img {
  width: 50%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.lodgeTitle,
.lodgeNight,
.lodgePrice,
.lodgeStar,
.lodgecard8 p,
.activitiesTitle {
  padding-left: 0.8em;
}

/* Les plus populaires */
.lodgecard7 a,
.lodgecard8 a,
.lodgecard9 a {
  display: flex;
}

.popIcon {
  display: flex;
  justify-content: space-between;
}

  /* Recreations */
.activitycard1,
.activitycard2,
.activitycard3,
.activitycard4,
.activitycard5,
.activitycard6 {
  width: 100%;
  height: 160px;
  margin-bottom: 1em;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.15);
}

.activitycard1 img,
.activitycard2 img,
.activitycard3 img,
.activitycard4 img,
.activitycard5 img,
.activitycard6 img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* Footer */
footer ul {
  padding-inline-start: 0;
}